#s-122b5378-f83d-4644-8dd1-16da46a4d575 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Master_item_1 div.offset {
  position: relative;
  top: -109px;
  left: -152px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Master_item_1 {
  position: absolute;
  top: 766px;
  left: 0px;
  width: 992px;
  height: 333px;
  overflow: visible;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_1 {
  position: absolute;
  top: 106px;
  left: 28px;
  padding-left: 12px;
  width: 167px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_1 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_2 {
  position: absolute;
  top: 105px;
  left: 155px;
  width: 538px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_2 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Category_1 {
  position: absolute;
  top: 503px;
  left: 295px;
  width: 235px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Category_1 .valign {
  width: 217px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Group_1 {
  position: absolute;
  top: 559px;
  left: 84px;
  width: 588px;
  height: 149px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 132px;
  height: 135px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Table_1 {
  position: absolute;
  top: 0px;
  left: 157px;
  width: 431px;
  height: 149px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_1 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 133px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_4 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 132px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_7 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 132px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_2 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 133px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_2 span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_5 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 132px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_8 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 132px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_8 span {
  color: #0000FF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #0000FF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_3 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 133px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_3 span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_6 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 132px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_9 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 132px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_9 span {
  color: #0000FF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #0000FF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_10 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 133px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_10 span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_11 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 132px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_12 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 132px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_1 {
  position: absolute;
  top: 108px;
  left: 446px;
  width: 138px;
  height: 37px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/044d60e1-ca06-4f1e-b5e3-314a97a1fb2c.png');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_1 {
  position: absolute;
  top: 163px;
  left: 56px;
  width: 271px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_1 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Input_7 {
  position: absolute;
  top: 161px;
  left: 406px;
  padding-left: 14px;
  width: 154px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Table_2 {
  position: absolute;
  top: 211px;
  left: 28px;
  width: 650px;
  height: 149px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_17 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 146px;
  height: 26px;
  background-color: #67971A;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  opacity: 0.6;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_21 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 69px;
  height: 26px;
  background-color: #FF3333;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  opacity: 0.6;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_25 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 80px;
  height: 26px;
  background-color: #FF9900;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  opacity: 0.6;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_25 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_29 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 82px;
  height: 26px;
  background-color: #4A86E8;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  opacity: 0.6;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_33 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: #67971A;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  opacity: 0.6;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_33 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_37 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: #FF3333;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  opacity: 0.6;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_37 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_13 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: #FF3333;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  opacity: 0.6;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_18 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 146px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_22 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 69px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_26 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 80px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_26 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_30 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 82px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_30 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_34 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_34 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_38 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_14 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_19 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 146px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_23 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 69px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_27 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 80px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_27 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_31 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 82px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_31 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_35 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_39 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_39 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_15 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_20 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 146px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_24 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 69px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_28 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 80px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_32 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 82px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_32 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_36 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_36 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_40 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_40 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_16 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 65px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Input_1 {
  position: absolute;
  top: 258px;
  left: 636px;
  box-shadow: none;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Input_2 {
  position: absolute;
  top: 293px;
  left: 636px;
  box-shadow: none;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Input_3 {
  position: absolute;
  top: 337px;
  left: 636px;
  box-shadow: none;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_2 {
  position: absolute;
  top: 384px;
  left: 306px;
  width: 140px;
  height: 32px;
  background-color: #FF3333;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_3 {
  position: absolute;
  top: 217px;
  left: 786px;
  width: 130px;
  height: 22px;
  background-color: #67971A;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Image_3 > svg {
  width: 76px;
  height: 69px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Image_3 {
  position: absolute;
  top: 143px;
  left: 815px;
  width: 76px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_4 {
  position: absolute;
  top: 282px;
  left: 786px;
  width: 130px;
  height: 22px;
  background-color: #FF3333;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_5 {
  position: absolute;
  top: 337px;
  left: 786px;
  width: 124px;
  height: 34px;
  background-color: #FF9900;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 19px 19px 19px 19px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 #s-Button_5 span#rtr-s-Button_5_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-122b5378-f83d-4644-8dd1-16da46a4d575 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}