#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Label_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #383636;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 60px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Table_1 {
  border-collapse: separate;
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Text_cell_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Text_cell_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Text_cell_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Text_cell_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Label_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #98C601;
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-star-5 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-star-4 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-star-3 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-star-2 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-star-1 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Ellipse_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Ellipse_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 #s-Button_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 77px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-43e4036f-e43a-4022-b56a-3cc9b23d2689 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}