#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Table_1 {
  border-collapse: separate;
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Text_cell_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Text_cell_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Text_cell_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Text_cell_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 130px;
  height: 22px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 130px;
  height: 22px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 19px 19px 19px 19px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 124px;
  height: 34px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-91873b74-6e64-499d-ba16-94b1e32edbd9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}