#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Label_3 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 104px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Ellipse_26 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-plus_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Label_1 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 104px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 115px;
  height: 69px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-e8175e9f-03e1-4850-b1da-ab7b550d7359 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}