#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}