#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Rectangle_1 {
  position: absolute;
  top: 187px;
  left: 280px;
  width: 76px;
  height: 72px;
  background-color: #4A86E8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Label_1 {
  position: absolute;
  top: 106px;
  left: 28px;
  padding-left: 12px;
  width: 209px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #84A82C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Label_1 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Label_1 span#rtr-s-Label_1_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Label_2 {
  position: absolute;
  top: 105px;
  left: 162px;
  width: 534px;
  height: 23px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/3b0a929c-76b2-4533-9fa2-58793ede8a85.PNG');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Label_2 span {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Label_2 span#rtr-s-Label_2_0 {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Input_1 {
  position: absolute;
  top: 326px;
  left: 241px;
  padding-left: 8px;
  width: 281px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Input_1 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Input_2 {
  position: absolute;
  top: 392px;
  left: 241px;
  padding-left: 8px;
  width: 281px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F8F8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Input_2 input {
  color: #C0C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Button_2 {
  position: absolute;
  top: 438px;
  left: 333px;
  width: 104px;
  height: 32px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/044d60e1-ca06-4f1e-b5e3-314a97a1fb2c.png');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Image_3 > svg {
  width: 168px;
  height: 166px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Image_3 {
  position: absolute;
  top: 270px;
  left: 51px;
  width: 168px;
  height: 166px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Image_5 > svg {
  width: 80px;
  height: 77px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Image_5 {
  position: absolute;
  top: 186px;
  left: 280px;
  width: 80px;
  height: 77px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_1 {
  position: absolute;
  top: 187px;
  left: 383px;
  width: 80px;
  height: 76px;
  background-color: #FF3333;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 36.0pt;
  font-family: Century Gothic,Arial;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Century Gothic,Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Century Gothic,Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_2 {
  position: absolute;
  top: 298px;
  left: 312px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_2 span {
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_2 span#rtr-s-Text_2_0 {
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_3 {
  position: absolute;
  top: 363px;
  left: 312px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_3 span {
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca #s-Text_3 span#rtr-s-Text_3_0 {
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f7f88b8a-176c-4513-81cd-fa9c60f2c6ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}