#t-c6c716c7-1186-4ff9-8902-e9f54335788d > #backgroundBox {
  background-color: #FFFFFF;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/7bdd8393-6233-459e-8412-61d0104c1b1d.png');
  position: absolute;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Dynamic_Panel_1 {
  position: absolute;
  top: 19px;
  left: 274px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_1 {
  width: 497px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_1 .verticalalign {
  vertical-align: middle;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_1 {
  width: 85px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_1 span {
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_1 span#rtr-t-Label_1_0 {
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_1 span#rtr-t-Label_1_1 {
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_2 {
  width: 70px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_2 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_2 input {
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_4 {
  width: 60px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_4 span {
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_4 span#rtr-t-Label_4_0 {
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_6 {
  width: 86px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2C3338;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A4C4D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_6 span {
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_6 span#rtr-t-Label_6_0 {
  color: #E4E4E4;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Image_2 {
  position: absolute;
  top: 10px;
  left: 3px;
  width: 115px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Group_1 {
  position: absolute;
  top: 26px;
  left: 550px;
  width: 164px;
  height: 178px;
  display: none;
  z-index: 100;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Dynamic_Panel_2 {
  position: absolute;
  top: 26px;
  left: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_2 {
  width: 156px;
  height: 144px;
  background-color: #3C3838;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #383636;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  overflow: hidden;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Panel_2 .verticalalign {
  vertical-align: top;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_23 {
  position: absolute;
  top: 11px;
  left: 7px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4F4F4F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_23 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_23 span#rtr-t-Label_23_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_23 span#rtr-t-Label_23_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_24 {
  position: absolute;
  top: 41px;
  left: 6px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4F4F4F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_24 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_24 span#rtr-t-Label_24_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_25 {
  position: absolute;
  top: 74px;
  left: 7px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4F4F4F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_25 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_25 span#rtr-t-Label_25_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_25 span#rtr-t-Label_25_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_26 {
  position: absolute;
  top: 111px;
  left: 7px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_26 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_26 span#rtr-t-Label_26_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_39 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 62px;
  height: 24px;
  background-color: #3C3838;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #302D2D;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #302D2D;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #302D2D;
  border-radius: 4px 4px 0px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_39 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_39 span#rtr-t-Label_39_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Label_39 span#rtr-t-Label_39_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_7 {
  position: absolute;
  top: 24px;
  left: 802px;
  padding-left: 14px;
  width: 129px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d #t-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#t-c6c716c7-1186-4ff9-8902-e9f54335788d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}